<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/styles.css">
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

<header>
    <h1>Образователна система</h1>
</header>

<main style="display: flex">
    @RenderBody()
</main>

<footer>
    <p>Дипломен проект - Банчев</p>
</footer>

    
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>