@model SchoolManagement.ViewModels.Identity.Login.LoginInputModel

@{
    ViewData["Title"] = "Влез";
    Layout = "_Layout";
}

<form asp-action="Login" id="loginForm" enctype="multipart/form-data" method="post">
    <div id="propertiesContainer">
        <div class="text-red" asp-validation-summary="All"></div>

        <div style="width: 100%">
            <input
                asp-for="Username"
                placeholder="Потребителско име"
                class="credentials-input"
                style="box-shadow: 3px 4px 3px 0 rgba(189, 189, 189, 1)"/>
        </div>
        <div style="width: 100%">
            <input
                asp-for="Password"
                type="password"
                placeholder="Парола"
                class="credentials-input"
                style="box-shadow: 3px 4px 3px 0 rgba(189, 189, 189, 1)"/>
        </div>

        <button type="submit" id="loginButton">
            <span>Влез</span>
        </button>
    </div>
</form>

@section Styles
{
    <style>
        #loginForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;
            gap: 1.5rem;
            margin: auto;
        }

        #propertiesContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;
            width: 100%;
        }

        .credentials-input {
            width: 100%;
            border: none;
            border-radius: 1.5rem; /* 3xl ≈ 24px = 1.5rem */
            height: 2.5rem; /* 10 * 0.25rem = 2.5rem */
            padding-left: 1rem; /* 4 * 0.25rem = 1rem */
        }

        .credentials-input::placeholder {
            color: #757575FF;
        }

        #loginButton {
            color: #ffffff;
            border: none;
            border-radius: 1.5rem; /* 3xl ≈ 24px */
            padding: 0.5rem 5rem;
            font-weight: 500; /* medium */
            cursor: pointer;
            background-color: #123456; /* replace with actual "blacklist-blue" value */
        }
    </style>
}
