@{
    ViewBag.Title = "Създай потребител";
    Layout = "_Layout";
}

<form>
    <div class="w-full">
        <span></span>
        <input placeholder="Потребителско име" class="input" />
    </div>
    
    <div class="w-full">
        <span></span>
        <input type="password" placeholder="Парола" class="input" />
    </div>
    
    <a id="createButton">Създай потребител</a>
</form>

@section Styles 
{
    <style>
        .input {
            border: rgb(211 211 211 / 1) 1px solid;
            padding: 0.5rem 0.5rem 0.5rem 0.625rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            border-radius: 5px;
            width: 100%;
        }
        
        .w-full {
            width: 100%;
        }
        
        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 33%;
            margin: 1rem;
            align-items: center;
        }

        #createButton {
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            color: #ffffff;
            border: none;
            border-radius: 0.5rem; /* 3xl ≈ 24px */
            padding: 0.5rem 2rem;
            font-weight: 500;      /* medium */
            display: flex;
            background-color: #123456; /* replace with actual "blacklist-blue" value */
            text-decoration: none;
        }
    </style>
}