@model SchoolManagement.ViewModels.Admin.CreateUserInputModel

@{
    ViewBag.Title = "Създай потребител";
    Layout = "_Layout";
}

<form asp-action="CreateUser" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="text-red" asp-validation-summary="All"></div>
    
    <div class="w-full">
        <input asp-for="Username" placeholder="Потребителско име" class="input"/>
    </div>

    <div class="w-full">
        <input asp-for="Password" type="password" placeholder="Парола" class="input"/>
    </div>
    
    <div class="w-full">
        <select style="width: 100%; padding: 1rem" asp-for="Role">
            <option value="1">Ученик</option>
            <option value="2">Учител</option>
        </select>
    </div>

    <button type="submit" id="createButton">Създай потребител</button>
</form>

@section Styles 
{
    <style>
        .input {
            border: rgb(211 211 211 / 1) 1px solid;
            padding: 0.5rem 0.5rem 0.5rem 0.625rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            border-radius: 5px;
            width: 100%;
        }
        
        .w-full {
            width: 100%;
        }
        
        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 33%;
            margin: 1rem;
            align-items: center;
        }

        #createButton {
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            color: #ffffff;
            border: none;
            border-radius: 0.5rem; /* 3xl ≈ 24px */
            padding: 0.5rem 2rem;
            font-weight: 500;      /* medium */
            display: flex;
            background-color: #123456; /* replace with actual "blacklist-blue" value */
            text-decoration: none;
        }
    </style>
}