@using Domain
@model (List<ApplicationUser> users, List<Domain.ApplicationRole> roles)
@{
    ViewData["Title"] = "Потребители";
    Layout = "_Layout";
    var adminRoleId = Model.roles.FirstOrDefault(x => x.Name!.Equals("Admin", StringComparison.InvariantCultureIgnoreCase))?.Id;
    var teacherRoleId = Model.roles.FirstOrDefault(x => x.Name!.Equals("Teacher", StringComparison.InvariantCultureIgnoreCase))?.Id;
    var studentRoleId = Model.roles.FirstOrDefault(x => x.Name!.Equals("Student", StringComparison.InvariantCultureIgnoreCase))?.Id;
}

<div id="container">
    <div style="display: flex; margin-bottom: 0.5rem;">
        <a asp-controller="Admin" asp-action="CreateUser" id="createButton">Създай потребител</a>
    </div>
    <table>
        <tr>
            <th>Потребителско име</th>
            <th>Тип</th>
            <th>Действия</th>
        </tr>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @if (user.Roles.Any(x => x.RoleId == adminRoleId))
                    {
                        <span>Администратор</span>
                    }
                    else if (user.Roles.Any(x => x.RoleId == teacherRoleId))
                    {
                        <span>Учител</span>
                    }
                    else if (user.Roles.Any(x => x.RoleId == studentRoleId))
                    {
                        <span>Ученик</span>
                    }
                </td>
                <td>
                    <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">Изтрий</a>
                </td>
            </tr>
        }
    </table>
</div>


@section Styles
{
    <style>
        table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            height: 5rem;
        }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even){background-color: #f2f2f2;}

        table tr:hover {background-color: #ddd;}

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #b9b9b9;
            color: white;
        }
        
        #container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        #createButton {
            margin-left: auto;
            color: #ffffff;
            border: none;
            border-radius: 0.5rem; /* 3xl ≈ 24px */
            padding: 0.5rem 2rem;
            font-weight: 500;      /* medium */
            display: flex;
            background-color: #123456; /* replace with actual "blacklist-blue" value */
            text-decoration: none;
        }
    </style>
}